<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>auth</servlet-name>
        <servlet-class>auth.Authorise</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>exit</servlet-name>
        <servlet-class>exit.Exit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>topten</servlet-name>
        <servlet-class>getdata.TopTenUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>lastopten</servlet-name>
        <servlet-class>getdata.GetTopTenDown</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getusers</servlet-name>
        <servlet-class>getdata.GetAllUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sendmess</servlet-name>
        <servlet-class>getdata.SendMessage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getmessages</servlet-name>
        <servlet-class>getdata.GetMessages</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>auth</servlet-name>
        <url-pattern>/auth</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>exit</servlet-name>
        <url-pattern>/exit</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>topten</servlet-name>
        <url-pattern>/topten</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>lastopten</servlet-name>
        <url-pattern>/toptendown</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getusers</servlet-name>
        <url-pattern>/getusers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendmess</servlet-name>
        <url-pattern>/sendmessage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getmessages</servlet-name>
        <url-pattern>/getmessages</url-pattern>
    </servlet-mapping>
</web-app>